[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GramQuad"]
	path = GramQuad
	url = https://gitlab.com/iagogv/gramquad
	shallow = true
	registered = true
[submodule "trouBBlme4SolveR"]
	path = trouBBlme4SolveR
	url = https://gitlab.com/iagogv/troubblme4solver
	shallow = true
	registered = true
